/* Import fonts */

@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap');


* {
    outline: none;
    margin: 0;
    padding: 0;
    /*Declare the colors on the website with variables */
    --one: #DA215D;

    --two: #5B0E27;

    --three: #181818;

    font-family: "Noto Sans", serif;

}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--three);
    color: white;
}
h1 {
    font-size: 4.2em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h1, h2, h3, h4 {
    font-family: 'Poiret One', serif;
    font-weight: 100;
}
.navLink {
    font-family: 'Poiret One', serif;
    font-weight: 200;
}
