/* Import fonts */

@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap');


* {
    outline: none;
    margin: 0;
    padding: 0;
    /*Declare the colors on the website with variables */
    --one: #DA215D;

    --two: #5B0E27;

    --three: #181818;

    font-family: "Noto Sans", serif;
    font-weight: 200;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--three);
    color: #ffffff;
}
h1 {
    font-size: 4.2em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
    font-weight: 300;
}
h1, h2, h3 {
    font-family: 'Poiret One', serif;
    font-weight: 100;
}


.navLink {
    font-family: 'Poiret One', serif;
    font-weight: 200;
}

/* Thank you page style */
.container {
    width: 100%;
    text-align: center;

    h3 {
        margin-top: 10vh;
    }
}
.heading {
    margin-top: 20vh;
}

/* 404 page style */
.headingStyles {
    text-align: center;
    margin-top: 20vh;
    font-family: 'Limelight', serif;

    background: linear-gradient(var(--three), var(--one), var(--three));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

}

.textStyle {
    margin-top: 5vh;
    text-align: center;
}

.homeLink {
    margin-top: 10vh;
    color: white;
    font-family: 'Poiret One', serif;
    font-weight: 200;
}


@media (max-width: 768px) {
    .container {
        h3 {
            font-size: 1.7em;
        }
    }
    .heading{
        margin-top: 10vh;
        font-size: 3em;
    }

    .headingStyles {
        font-size: 3em;
    }
    .textStyle {
        font-size: 1.5em;
    }
}
